[submodule "frontend"]
	path = frontend
	url = https://github.com/Circle-1/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Circle-1/backend.git
[submodule "helm-charts"]
	path = helm-charts
	url = https://github.com/Circle-1/helm-charts
